# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# development environment
.env
.envrc
.env.local
.direnv
dist-newstyle

# editor files
*~

# bazel output
bazel-*
target
.stack-work
*.o
result

# misc
.agent-shell

rust-project.json

WORKSPACE

# data
results
output
crewd_data
data

# Ignore for now
# Not an interesting diagram at the moment.
doc/models.svg
# Has some test data. Doesn't need to be in public repo.
cli/data.bqn
# Has some test data. Need to clean up.
crewd.org
